<div class="panel panel-default">
    <div class="panel-heading">
        <h2>メッセージ一覧</h2>
    </div>
    
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-warning"><%= message.name %></span>
            <%= message.body %>
            <br>
        <% end %>
    </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>